.projectFormWrapperActive{
    background-color: hsla(27, 0%, 25%, 0.85);
    grid-area: 1/ 1 / 3/ -1;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    color: white;
    border-radius: 1rem;
    z-index: 500;
    padding: 1rem;
}

.projectFormWrapperInactive{
    z-index: -500;
    pointer-events: none;
}

.projectFeildset{
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 2rem;
    column-gap: 1rem;
    justify-items:stretch;
    text-align: right;
    font-size: 1rem;
    padding: 1rem;

}

.proLegend{
    font-size: 1.5rem;
}

.proLabel{
    font-size: 1.3rem;
    align-self: center;
    text-align: center;
}

.proInput{
    font-size: 1.5rem;
    height: 2.4rem;
    width: 100%;
    align-self: center;
}

.btnProjectSubmit{
    grid-column: 2/-1;
    width: 80%;
    justify-self: center;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 2rem;
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    background-color: hsl(115, 81%, 65%);
}

.btnProjectCancel{
    width: 100%;
    justify-self: center;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 2rem;
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color: hsl(2, 40%, 50%);
}